.wrapper {
  background: var(--bg-yellow-gradient);
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  gap: 44px;
}

.images {
  flex: 1;
  /* max-width: 420px; */
  display: flex;
  justify-content: center;
  padding: 40px;
}

.images img {
  width: 100%;
}

.iphoneLeft {
  z-index: 10;
  margin-top: 29px;
  margin-right: -83.5px;
  max-width: 224px;
}

.iphoneRight {
  max-width: 316px;
}

.copy {
  flex: 2;
  max-width: 736px;
  padding: 115px 0 0 0;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    padding-top: 0px;
  }

  .copy {
    padding: 20px;
  }

  .images {
    display: none;
  }
}
