.wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  max-width: 1200px;
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  width: auto;
}

.right {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.navItem {
  color: #333;
  text-decoration: none;
  margin-left: 20px;
}

.navItem:first-child {
  margin-left: 0;
}
