.wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 52px;
  white-space: nowrap;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  max-width: 1200px;
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  width: 134px;
}

.right {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 26px 0;
}

.navItem {
  /* color: var(--color--gray); */
  text-decoration: none;
}

.navItem:first-child {
  margin-left: 0;
}


@media screen and (max-width: 480px) {
  .wrapper {
    top: 24px;
  }

  .container {
    overflow: scroll;
    padding: 0 10px;
    gap: 40px;
  }
}
