@font-face {
  font-display: "swap";
  font-family: "FuturaBTBook";
  src: local("FuturaBTBook"), url("../public/fonts/FuturaBT-Book.woff2") format("woff2");
}

body {
  margin: 0;
  --bg-yellow-gradient: radial-gradient(98.66% 100% at 50% 0%, #FFCE85 0%, #FFAE33 100%);
}
