.wrapper {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  gap: 48px;
}

.card {
  padding-top: 48px;
  padding-bottom: 56px;
 width: 352px;
}

.description {
  max-width: var(--max-width);
  text-align: center;
}
